.bg-black{
    background-color: #06283D !important;
}
body{
    margin: 0;
    padding: 0;
    background-color: #06283D;
}
.nav-item{
    padding-left: 20px;
}

.offcanvas-body{
    margin-right: 80px;
    font-size: 20px;
}
.title{
    padding: 0 15%;
}
.navbar-brand{
    padding-left: 15%;
    font-family: 'Dancing Script',cursive;
    font-size: 40px;
}
.offcanvas-title{
    font-family: 'Dancing Script',cursive;
    font-size: 25px;
}
.home{
    height: 100%;
}
.intro{
    padding-top: 10%;
    font-family: 'Poppins', sans-serif;
    color: rgba(211, 198, 198, 0.881);
}
.intro h1,.intro span{
    font-size: 64px; 
}
.intro p{
    font-size: 20px;
}
.intro span{
    color: #fff;
}
.topic {
    text-decoration: none;
    color: #fff;
    transition: 0.4s linear ease-out;
}
.topic h1:hover{
    color: #fff;
    text-decoration: underline #1363DF;

}
.logoBox{
    height: 10%;
    background-color: #06283D;
    color: #DFF6FF;
}
.logoBox >i{
    padding: 10px 0;
    color: #1363DF;
    font-size: 60px;
}
.logoBox:hover i{
    color: #93b6ea;
}
.aboutme img{
    width: 80%;
    height: auto;
    min-width: 300px;
}
.aboutme h4{
    color: #1363DF;
}
.aboutme p{
    color: #DFF6FF;
}
.bar{
    height: 24px;
    width: 90%;
    background-color: #DFF6FF;
}
.skills h3{
    color: #DFF6FF;
}
.skills ul{
    width: 100%;
}
.fill{
    background-color: #00a1a7;
    z-index: 100;
}
.skill{
    width: 20%;
    min-width: 90px;
    background-color: #04c2c9;
    color: #DFF6FF;
    font-weight: 600;
}
/* work */
.workCard{
    color: #DFF6FF;
    background-color: #0a4d77;
    font-weight: 600;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #DFF6FF;
    margin: 20px 10px;
    transition: 0.3s ease-in-out;
}
.workCard:hover{
    transform: scale(1.08,1.08);
    box-shadow: 5px 5px 2px 3px #0a4d77ec;
}
a{
    text-decoration: none;
    color:  #DFF6FF;
}
.workCard p{
    font-size: 16px;
    color: rgb(115, 105, 105);
}
.workCard >img{
    height: 150px;
    min-height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius:20px
} 


/* blog section */
.blogSection{
    padding: 20px 8%;
}
.blog{
    margin-top: 40px;
    margin-bottom: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.blogimg{
    width: 50%;
}
.blogimg img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.blogDes{
    margin-left: 20px;
    color: #93b6ea;
}
.blogDes p{
    font-size: 20px;
}
.blogDes a{
    text-decoration: none;
    font-weight: 500;
    font-size: 25px;
    margin-left: 50px;
}
.blog h1{
    position: absolute;
    left: 20px;
    top:-55px;
    font-size: 70px;
    color: #c9cbce;
    font-weight: 700;
    z-index: -10;
    
}
/* connect */
.formBox{
    height: 400px;
    border-radius: 20px;
    background-color: #cde7f1;
}
.formBox input,.formBox textarea{
    width: 90%;
    margin: 10px 25px;
    padding: 10px;
    background-color: #fff ;
    border-radius: 10px;
    border: 1px solid #DFF6FF;
}
.formBox button{
    width: 90%;
    margin: 10px 25px;
    padding: 10px;
    border-radius: 10px;
    background-color: #04c2c9;
}
.model{
    height: 10vh;
}
.bee{
    min-height: 400px;
    width: 550px;
}
.anim{
    width: 100%;
    min-height: 400px;
}
footer i{
    font-size: 60px;
    margin: 3%;
    padding: 0px 20px;
    color: #04c2c9;
}
.group,.copyright{
    margin-left: 4%;
}
footer a{
    text-decoration: none;

}
.copyright{
    color: #fff;
}
.copyright span{
    color: #04c2c9;
}
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    background-color: #04c2c9;
    border: 0px;
    right: 20px;
    display: none;
    z-index: 999;
}

@media (max-width:992px){
    .navbar-brand{
        margin-left: 5px;
    }
    .offcanvas-body{
        margin-right: 0px;
    }
    .logoBox h1{
        font-size: 25px;
    }
    .bar{
        width: 100%;
    }
    .blog{
        display: flex;
        flex-direction: column;
    }
    .blogimg{
        width: 100%;
    }
    .blogDes{
        margin-left: 0;
    }
    .bee{
        width: 400px;
        min-height: 400px;
    }
}
@media (max-width:556px){
    .intro h1,.intro span{
        font-size: 40px;
    }
    .home{
        height: 80%;
        overflow: hidden;
    }
    .character{
        padding: 30px 0px 5px 0;
    }
    /* blog page */
    .blog{
        display: flex;
        flex-direction: column;
    }
    .blogimg{
        width: 100%;
    }
    .blogDes{
        margin-left: 0;
    }
    .logoBox{
        height:auto;
        background-color: #06283D;
        color: #DFF6FF;
        font-size: 8px;
    }
    .logoBox h1{
        font-size: 10px;
    }
    .logoBox >i{
        padding: 5px 0;
        color: #1363DF;
        font-size: 30px;
    }
    .formBox{
        width: 100%;
    }
    .formBox input,.formBox textarea,.formBox button{
        width: 80%;
        padding: 5px 0;
    }
    .group,.copyright{
        margin-left: -4%;
    }
}
