.bg-black{
    background-color: #06283D !important;
}

.nav-item{
    padding-left: 20px;
}

.offcanvas-body{
    margin-right: 80px;
    font-size: 20px;
}
.title{
    padding: 0 15%;
}
.navbar-brand{
    padding-left: 3%;
    font-family: 'Dancing Script',cursive;
    font-size: 40px;
}
.offcanvas-title{
    font-family: 'Dancing Script',cursive;
    font-size: 25px;
}
.home{
    height: 100%;
}
.intro{
    padding-top: 10%;
    font-family: 'Poppins', sans-serif;
    color: rgba(211, 198, 198, 0.881);
}
.intro h1,.intro span{
    font-size: 64px; 
}
.intro p{
    font-size: 20px;
}
.intro span{
    color: #fff;
}
.topic {
    text-decoration: none;
    color: #fff;
    transition: 0.4s linear ease-out;
}
.topic h1:hover{
    color: #fff;
    text-decoration: underline #1363DF;

}
.logoBox{
    height: 10%;
    background-color: #06283D;
    color: #DFF6FF;
}
.logoBox >i{
    padding: 10px 0;
    color: #1363DF;
    font-size: 60px;
}
.logoBox:hover i{
    color: #93b6ea;
}
.aboutme img{
    width: 80%;
    height: auto;
    min-width: 300px;
}
.aboutme h4{
    color: #1363DF;
}
.aboutme p{
    color: #DFF6FF;
}
.bar{
    height: 24px;
    width: 90%;
    background-color: #DFF6FF;
}
.skills h3{
    color: #DFF6FF;
}
.skills ul{
    width: 100%;
}
.fill{
    background-color: #00a1a7;
    z-index: 100;
}
.skill{
    width: 20%;
    min-width: 90px;
    background-color: #04c2c9;
    color: #DFF6FF;
    font-weight: 600;
}





@media (max-width:992px){
    .navbar-brand{
        margin-left: 5px;
    }
    .offcanvas-body{
        margin-right: 0px;
    }
    .logoBox h1{
        font-size: 25px;
    }
    .bar{
        width: 100%;
    }
}
@media (max-width:556px){
    .intro h1,.intro span{
        font-size: 40px;
    }
    .home{
        height: 88vh;
        overflow: hidden;
    }
    .character{
        padding: 30px 0px 5px 0;
    }
}
